<!DOCTYPE html>
<html>
    <head><title>time</title></head>
    <script>
        let apiUrl = 'http://localhost:8888';
        var lastId = 1;
        function subscribeTimeStream(id) {
            var source = new EventSource(apiUrl +'/time/'+id);
            return source;
        }
        if (!!window.EventSource) {
            let elemId = 'time';
            let stream = subscribeTimeStream(elemId);
            updateEventToElementId(stream, elemId)
        } else {
            document.getElementById('time').innerHTML = 
            "This browser does not support realtime Server sent events.";
        }
        function updateEventToElementId(stream, elemId) {
            stream.addEventListener('message',function(e){
                document.getElementById(elemId).innerHTML = 
                e.data;
            },false);
            
            stream.addEventListener('open', function(e) {
                document.getElementById(elemId).innerHTML = 
                "Connection was opened.";
            }, false);
            
            stream.addEventListener('error', function(e) {
                if (e.readyState == EventSource.CLOSED) {
                    document.getElementById(elemId).innerHTML = 
                    "Connection was closed.";
                }
            }, false);
        }
        function addRow() { 
            let row = document.getElementById('row');
            lastId += 1;
            let id = 'time'+lastId;
            var node = document.createElement('li');
            node.id = id;
            row.appendChild(node);
            let stream = subscribeTimeStream(id);
            updateEventToElementId(stream, id);
        }
        </script>
    <body>
        <p id="status"></p>
        <button type="button" onclick="addRow()">Still clickable?</button>
        <ul id="row">
            <li id="time"></li> 
        </ul>
    </body>
</html>
