<!DOCTYPE html>
<html>
    <head><title>time</title></head>
    <script>
        let apiUrl = 'http://localhost:8888';
        var lastId = 1;
        function subscribeTimeStream(id) {
            var source = new EventSource(apiUrl +'/time/'+id);
            return source;
        }
        if (!!window.EventSource) {
            let elemId = 'time';
            let stream = subscribeTimeStream(elemId);
            updateEventToElementId(stream, elemId)
        } else {
            eid('time').innerHTML =  "This browser does not support realtime Server sent events.";
        }
        function eid(elemId) {
            return document.getElementById(elemId);
        }
        function updateEventToElementId(stream, elemId) {
            stream.onerror = function (event) {
                console.log("onerror");
                if (event.readyState == EventSource.CLOSED) {
                    eid(elemId).innerHTML = "Connection was closed.";
                }
            };
            stream.onopen = function (event) {
                console.log("onopen");
                eid(elemId).innerHTML = "Connection was opened.";
            };
            stream.onmessage = function (event) {
                
                let resp = JSON.parse(event.data);
                eid('raw').innerHTML = event.data;
                if ('time' == resp.type) {
                    eid(elemId).innerHTML = resp.data;
                } else if ('chat' == resp.type) {
                    eid('chat').innerHTML = resp.msg;
                }
            };
            stream.onchange = function(test) {
                console.log("test : ", test);
            };
        }
        function addRow() { 
            let row = eid('row');
            lastId += 1;
            let id = 'time'+lastId;
            var node = document.createElement('li');
            node.id = id;
            row.appendChild(node);
            let stream = subscribeTimeStream(id);
            updateEventToElementId(stream, id);
        }

        function chatBack() {
            var data = JSON.stringify({
                "user": "time",
                "msg": "hello"
            });

            var xhr = new XMLHttpRequest();
            xhr.withCredentials = true;

            xhr.addEventListener("readystatechange", function () {
            if (this.readyState === 4) {
                console.log(this.responseText);
            }
            });

            xhr.open("POST", apiUrl + "/msg");
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.send(data);
        }
        </script>
    <body>
        <p id="status"></p>
        <button type="button" onclick="chatBack()">Still clickable?</button>
        <ul id="row">
            <li id='raw'></li>
            <li id="time"></li> 
            <li id="chat"></li> 
        </ul>
        
    </body>
</html>
